* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 206, 206);
    color: black;
    font-size: 20px;
    font-family: cursive;

}
 img {
    height: 491px;
 }
.container{
    background-color: #efeded;
    border: 2px solid grey;
    width: 1100px;
    margin: auto;
}
.links {
    color: white;
    font-size: 30px;
}
.title {
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    margin: 10px auto;
    padding-top: 10px;
    background-color: transparent;

}

.para {
    display: inline-block;
    color: rgb(104, 92, 92);
    background-color: rgb(206, 209, 211);
    width: 650px;
    height: 495px;
    margin-left: 20px;
    margin-top: 0;
    padding: 22px;

}

.ingredients {
    display: inline-block;
    background-color: rgb(206, 209, 211);
    width: 300px;
    color: rgb(104, 92, 92);

}



.steps {
    display: inline-block;
    background-color: rgb(206, 209, 211);
    color: black;
    width: 650px;
    margin-left: 21px;
    padding: 12px;
    color:  rgb(104, 92, 92);

}